{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="center-container">
    <h1>Sign up</h1>
    <form method="POST" novalidate onsubmit="this.querySelector('button').disabled = true;">
        {% csrf_token %}
        <div class="sign-form">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {% include 'errors_list.html' %}
                </div>
            {% endfor %}
            <button type="submit" style="height: 30px;">Register</button>
        </div>
    </form>
</div>
{% endblock content %}